* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 49);
  color: rgb(195, 194, 194);
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 27, 27);
  color: rgb(195, 194, 194);
}